<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="types.css.scss"/>
		<title> Inner Beauty Tutorials </title>
	</head>
	<body>
		<table>
			<tr>
				<td></a><p><%= link_to "Hair", tutorials_path %></p></td>
			</tr>
			<tr>
				<td><p><%= link_to "Nails", tutorials_path %></p> </td>
			</tr>
			<tr>
				<td><p><%= link_to "Make-up", tutorials_path %></p></td>
			</tr>
		<table>
	</body>
</html>