<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="tutorials.css.scss"/>
		<title> Hair Tutorials </title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<td><p>HAIR TUTORIALS</p></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="http://rebeccaskeele.com/wp-content/uploads/2014/02/side-fishtail-braid-prom.jpg"/></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>